# ASO Data Analysis - Task 1: Data Loading & Exploration

This notebook loads, cleans, and explores the ASO ticket and demographic data for FY23 and FY24.

## Overview
- Load ticket data (FY23 and FY24)
- Reshape demographics from long to wide format
- Merge tickets with demographics
- Load event dates and calculate days before event
- Load college pass data
- Generate data quality report
- Save cleaned master dataset

In [27]:
# Import required libraries
import pandas as pd
import numpy as np
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

# Set display options
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

## 1. Load Ticket Data

In [28]:
# Load FY23 tickets
print("Loading FY23 tickets...")
tickets_fy23 = pd.read_csv('FY23 Regular Tickets.csv')
tickets_fy23['fiscal_year'] = 'FY23'
print(f"FY23 tickets loaded: {len(tickets_fy23):,} records")
print(f"FY23 columns: {tickets_fy23.columns.tolist()}")
print(f"FY23 date range: {tickets_fy23['add_datetime'].min()} to {tickets_fy23['add_datetime'].max()}")
print()

# Load FY24 tickets
print("Loading FY24 tickets...")
tickets_fy24 = pd.read_csv('FY24 Regular Tickets.csv')
tickets_fy24['fiscal_year'] = 'FY24'
print(f"FY24 tickets loaded: {len(tickets_fy24):,} records")
print(f"FY24 columns: {tickets_fy24.columns.tolist()}")
print(f"FY24 date range: {tickets_fy24['add_datetime'].min()} to {tickets_fy24['add_datetime'].max()}")
print()

# Combine into master tickets dataframe
print("Combining tickets...")
master_tickets = pd.concat([tickets_fy23, tickets_fy24], ignore_index=True)
print(f"Master tickets total: {len(master_tickets):,} records")
print(f"Fiscal year distribution:")
print(master_tickets['fiscal_year'].value_counts())
print()

# Display sample
print("Sample of master tickets:")
master_tickets.head()

Loading FY23 tickets...
FY23 tickets loaded: 32,405 records
FY23 columns: ['event_name', 'section_name', 'row_name', 'seat_num', 'last_seat', 'num_seats', 'acct_id', 'zip', 'add_datetime', 'price_code', 'price_code_type', 'price_section', 'comp', 'comp_name', 'purchase_price', 'paid_amount', 'source', 'ticket_type', 'fiscal_year']
FY23 date range: 1/1/2023 to 9/9/2022

Loading FY24 tickets...
FY24 tickets loaded: 35,134 records
FY24 columns: ['event_name', 'section_name', 'row_name', 'seat_num', 'last_seat', 'num_seats', 'acct_id', 'zip', 'add_datetime', 'price_code', 'price_code_type', 'price_section', 'comp', 'comp_name', 'purchase_price', 'paid_amount', 'source', 'ticket_type', 'fiscal_year']
FY24 date range: 1/1/2024 to 9/9/2023

Combining tickets...
Master tickets total: 67,539 records
Fiscal year distribution:
fiscal_year
FY24    35134
FY23    32405
Name: count, dtype: int64

Sample of master tickets:

,event_name,section_name,row_name,seat_num,last_seat,num_seats,acct_id,zip,add_datetime,price_code,price_code_type,price_section,comp,comp_name,purchase_price,paid_amount,source,ticket_type,fiscal_year
0,230922SE,BALCL,A,4,5,2,8362049,30041,7/15/2022,ICO,CYO Subscription,Front Balcony,N,Not Comp,34.00,68.00,online,Subscription,FY23
1,230922SE,BALCL,B,1,2,2,8449640,30316,9/14/2022,IS1,Fixed Sophomore Subscription 6 Concert,Front Balcony,N,Not Comp,23.00,46.00,ASO Staff,Subscription,FY23
2,230922SE,BALCL,B,4,5,2,4061365,30308,7/27/2022,ICO,CYO Subscription,Front Balcony,N,Not Comp,34.00,68.00,online,Subscription,FY23
3,230922SE,BALCL,C,1,2,2,354115,30087,4/5/2022,IE4,Fixed Established Subscription 24 Concert,Front Balcony,N,Not Comp,30.00,60.00,ASO Staff,Subscription,FY23
4,230922SE,BALCL,C,3,4,2,8908470,30253,9/20/2022,I*,Single Ticket,Front Balcony,N,Not Comp,30.00,60.00,online,Single Ticket,FY23

## 2. Load and Reshape Demographics

Demographics files have MULTIPLE ROWS per acct_id:
- Structure: acct_id, attribute_name, attribute_value
- One acct_id will have separate rows for age, gender, etc.
- Need to PIVOT to wide format: one row per acct_id

In [29]:
# Load FY23 demographics
print("Loading FY23 demographics...")
demo_fy23 = pd.read_csv('FY23 Regular Tickets Demographics.csv')
demo_fy23['fiscal_year'] = 'FY23'
print(f"FY23 demographics loaded: {len(demo_fy23):,} records")
print(f"FY23 unique acct_ids: {demo_fy23['acct_id'].nunique():,}")
print(f"FY23 attribute names: {demo_fy23['attrib_name'].unique()}")
print()

# Load FY24 demographics
print("Loading FY24 demographics...")
demo_fy24 = pd.read_csv('FY24 Regular Tickets Demographics.csv')
demo_fy24['fiscal_year'] = 'FY24'
print(f"FY24 demographics loaded: {len(demo_fy24):,} records")
print(f"FY24 unique acct_ids: {demo_fy24['acct_id'].nunique():,}")
print(f"FY24 attribute names: {demo_fy24['attrib_name'].unique()}")
print()

# Show sample of long format
print("Sample of demographics (long format):")
demo_fy23.head(10)

Loading FY23 demographics...
FY23 demographics loaded: 45,494 records
FY23 unique acct_ids: 11,899
FY23 attribute names: ['Input Ind - Education' '1st Ind - Age 2 yr Inc' '1st Ind - Gender'
 'HH Marital Status']

Loading FY24 demographics...
FY24 demographics loaded: 51,857 records
FY24 unique acct_ids: 13,665
FY24 attribute names: ['Input Ind - Education' '1st Ind - Gender' 'HH Marital Status'
 '1st Ind - Age 2 yr Inc']

Sample of demographics (long format):

,acct_id,category,attrib_name,attrib_value,fiscal_year
0,100103,LA Group H: Education Demographics,Input Ind - Education,Graduate School,FY23
1,100103,LA Group A: Gender/Age Demographics,1st Ind - Age 2 yr Inc,36,FY23
2,100103,LA Group A: Gender/Age Demographics,1st Ind - Gender,Male,FY23
3,100103,LA Group B: Household Demographics,HH Marital Status,Married,FY23
4,100378,LA Group B: Household Demographics,HH Marital Status,Married,FY23
5,100378,LA Group A: Gender/Age Demographics,1st Ind - Gender,Female,FY23
6,100378,LA Group A: Gender/Age Demographics,1st Ind - Age 2 yr Inc,82,FY23
7,100378,LA Group H: Education Demographics,Input Ind - Education,Graduate School,FY23
8,100521,LA Group A: Gender/Age Demographics,1st Ind - Gender,Female,FY23
9,100521,LA Group B: Household Demographics,HH Marital Status,Single,FY23

In [30]:
# Combine both demographics files
demo_combined = pd.concat([demo_fy23, demo_fy24], ignore_index=True)
print(f"Combined demographics: {len(demo_combined):,} records")
print(f"Unique acct_ids: {demo_combined['acct_id'].nunique():,}")
print()

# Check for duplicates across fiscal years
acct_ids_fy23 = set(demo_fy23['acct_id'].unique())
acct_ids_fy24 = set(demo_fy24['acct_id'].unique())
overlap = acct_ids_fy23.intersection(acct_ids_fy24)
print(f"Acct_ids appearing in both FY23 and FY24: {len(overlap):,}")
print(f"  (Will keep most recent - FY24 - for these)")
print()

# Sort by fiscal_year (FY24 last) so that when we drop duplicates, we keep FY24
demo_combined = demo_combined.sort_values('fiscal_year')

# Pivot to wide format: one row per acct_id
# First, let's see what attribute names we have
attrib_names = demo_combined['attrib_name'].unique()
print(f"Unique attribute names ({len(attrib_names)}):")
for attr in sorted(attrib_names):
    print(f"  - {attr}")
print()

# Pivot the data
demo_wide = demo_combined.pivot_table(
    index='acct_id',
    columns='attrib_name',
    values='attrib_value',
    aggfunc='first'  # Take first value if duplicates (FY24 will be kept due to sorting)
).reset_index()

# Clean up column names (remove special characters if any)
demo_wide.columns.name = None

# Rename columns to be more readable
column_mapping = {
    '1st Ind - Age 2 yr Inc': 'age',
    '1st Ind - Gender': 'gender',
    'HH Marital Status': 'marital_status',
    'Input Ind - Education': 'education'
}
demo_wide = demo_wide.rename(columns=column_mapping)

print(f"Demographics pivoted to wide format: {len(demo_wide):,} unique acct_ids")
print(f"Columns: {demo_wide.columns.tolist()}")
print()

# Display sample
print("Sample of demographics (wide format):")
demo_wide.head(10)

Combined demographics: 97,351 records
Unique acct_ids: 21,822

Acct_ids appearing in both FY23 and FY24: 3,742
  (Will keep most recent - FY24 - for these)

Unique attribute names (4):
  - 1st Ind - Age 2 yr Inc
  - 1st Ind - Gender
  - HH Marital Status
  - Input Ind - Education

Demographics pivoted to wide format: 21,822 unique acct_ids
Columns: ['acct_id', 'age', 'gender', 'marital_status', 'education']

Sample of demographics (wide format):

   acct_id age  gender marital_status        education
0   100103  36    Male        Married  Graduate School
1   100378  82  Female        Married  Graduate School
2   100521  78  Female         Single  Graduate School
3   100532  74    Male        Married              NaN
4   100653  78    Male        Married          College
5   100851  92    Male         Single  Graduate School
6   100928  74    Male        Married              NaN
7   101016  62  Female        Married      High School
8   101126  74    Male        Married          College
9   101742  86    Male        Married          College

In [31]:
# Handle duplicates: if same acct_id appears in both FY23 and FY24, keep most recent
# We already sorted by fiscal_year, so pivot_table with 'first' should keep FY24
# But let's verify by checking if any acct_ids have multiple fiscal years

# Check for any remaining duplicates (shouldn't be any after pivot)
duplicate_accts = demo_wide[demo_wide.duplicated(subset=['acct_id'], keep=False)]
if len(duplicate_accts) > 0:
    print(f"Warning: Found {len(duplicate_accts)} duplicate acct_ids after pivot")
    print(duplicate_accts.head())
    # Remove duplicates, keeping last (FY24)
    demo_wide = demo_wide.drop_duplicates(subset=['acct_id'], keep='last')
    print(f"Removed duplicates. New count: {len(demo_wide):,} unique acct_ids")
else:
    print("✓ No duplicate acct_ids found after pivot")
    print(f"Final demographics: {len(demo_wide):,} unique acct_ids")

✓ No duplicate acct_ids found after pivot
Final demographics: 21,822 unique acct_ids

## 3. Merge Tickets + Demographics

In [32]:
# Left join tickets to demographics on acct_id
print("Merging tickets with demographics...")
master_tickets = master_tickets.merge(
    demo_wide,
    on='acct_id',
    how='left'
)

print(f"After merge: {len(master_tickets):,} records")
print(f"Columns: {len(master_tickets.columns)} total columns")
print()

# Check merge quality
print("Merge quality:")
print(f"  Total tickets: {len(master_tickets):,}")
print(f"  Tickets with acct_id: {master_tickets['acct_id'].notna().sum():,} ({(master_tickets['acct_id'].notna().sum() / len(master_tickets) * 100):.1f}%)")
print(f"  Tickets with demographic data: {master_tickets['age'].notna().sum():,} ({(master_tickets['age'].notna().sum() / len(master_tickets) * 100):.1f}%)")
print()

# Display sample
print("Sample of merged data:")
master_tickets.head()

Merging tickets with demographics...
After merge: 67,539 records
Columns: 23 total columns

Merge quality:
  Total tickets: 67,539
  Tickets with acct_id: 67,539 (100.0%)
  Tickets with demographic data: 60,753 (90.0%)

Sample of merged data:

,event_name,section_name,row_name,seat_num,last_seat,num_seats,acct_id,zip,add_datetime,price_code,price_code_type,price_section,comp,comp_name,purchase_price,paid_amount,source,ticket_type,fiscal_year,age,gender,marital_status,education
0,230922SE,BALCL,A,4,5,2,8362049,30041,7/15/2022,ICO,CYO Subscription,Front Balcony,N,Not Comp,34.00,68.00,online,Subscription,FY23,58,Male,Single,NaN
1,230922SE,BALCL,B,1,2,2,8449640,30316,9/14/2022,IS1,Fixed Sophomore Subscription 6 Concert,Front Balcony,N,Not Comp,23.00,46.00,ASO Staff,Subscription,FY23,80,Male,Married,Graduate School
2,230922SE,BALCL,B,4,5,2,4061365,30308,7/27/2022,ICO,CYO Subscription,Front Balcony,N,Not Comp,34.00,68.00,online,Subscription,FY23,58,Female,Single,College
3,230922SE,BALCL,C,1,2,2,354115,30087,4/5/2022,IE4,Fixed Established Subscription 24 Concert,Front Balcony,N,Not Comp,30.00,60.00,ASO Staff,Subscription,FY23,72,Male,Married,College
4,230922SE,BALCL,C,3,4,2,8908470,30253,9/20/2022,I*,Single Ticket,Front Balcony,N,Not Comp,30.00,60.00,online,Single Ticket,FY23,24,Male,Inferred Single,High School

## 4. Load Event Dates

In [33]:
# STEP 1: Load and examine the events file
print("=" * 80)
print("STEP 1: LOAD EVENTS FILE")
print("=" * 80)
print()

print("Loading events file...")
events = pd.read_excel('23 and 24 Season Events List.xlsx')
print(f"✓ Events file loaded: {len(events):,} records")
print(f"✓ Columns: {events.columns.tolist()}")
print()

# Display structure
print("First 10 rows of events file:")
print(events.head(10))
print()

# Check what columns we have
print("Column details:")
for col in events.columns:
    non_null = events[col].notna().sum()
    print(f"  {col}: {non_null} non-null values")
    if non_null > 0:
        sample_vals = events[col].dropna().head(3).tolist()
        print(f"    Sample values: {sample_vals}")
print()

# Verify we have the columns we need
required_cols = ['Perf Code', 'Date']
missing_cols = [col for col in required_cols if col not in events.columns]
if missing_cols:
    print(f"⚠ WARNING: Missing required columns: {missing_cols}")
else:
    print("✓ All required columns found: 'Perf Code' and 'Date'")

================================================================================
STEP 1: LOAD EVENTS FILE
================================================================================

Loading events file...
✓ Events file loaded: 123 records
✓ Columns: ['Series', 'Weekend', 'Perf Code', 'Name', 'Date', 'Season', 'Type', 'Classical Type']

First 10 rows of events file:
   Series Weekend Perf Code                     Name      Date   Season  \
0     NaN     NaN  23COLLEG     2022/23 College Pass       NaN  2022/23
1     NaN     NaN  24COLLEG     2023/24 College Pass       NaN  2023/24
2       1     CS1  230922SE          Opening Weekend   9/22/22  2022/23
3       1     CS1  230924SE          Opening Weekend   9/24/22  2022/23
4       2     CS2  231006SE  Beethoven Symphony No 9   10/6/22  2022/23
5       2     CS2  231008SE  Beethoven Symphony No 9   10/8/22  2022/23
6  Sunday     CS2  231009S3  Beethoven Symphony No 9   10/9/22  2022/23
7       3     CS3  231014SE           Lush Romantics  10/14/22  2022/23
8       3     CS3  231015SE           Lush Romantics  10/15/22  2022/23
9       4     CS4  231110SE               Gil Shaham  11/10/22  2022/23

           Type Classical Type
0  College Pass            NaN
1  College Pass            NaN
2     Classical        Regular
3     Classical        Regular
4     Classical        Premium
5     Classical        Premium
6     Classical        Premium
7     Classical        Regular
8     Classical        Regular
9     Classical        Regular

Column details:
  Series: 121 non-null values
    Sample values: ['1', '1', '2']
  Weekend: 121 non-null values
    Sample values: ['CS1', 'CS1', 'CS2']
  Perf Code: 123 non-null values
    Sample values: ['23COLLEG', '24COLLEG', '230922SE']
  Name: 123 non-null values
    Sample values: ['2022/23 College Pass', '2023/24 College Pass', 'Opening Weekend']
  Date: 121 non-null values
    Sample values: ['9/22/22', '9/24/22', '10/6/22']
  Season: 123 non-null values
    Sample values: ['2022/23', '2023/24', '2022/23']
  Type: 123 non-null values
    Sample values: ['College Pass', 'College Pass', 'Classical']
  Classical Type: 105 non-null values
    Sample values: ['Regular', 'Regular', 'Premium']

✓ All required columns found: 'Perf Code' and 'Date'

### Step 2: Create Events Lookup Table

We'll create a lookup table that maps event codes (like "230922SE") from the "Perf Code" column to their actual event dates from the "Date" column.

In [34]:
# STEP 2: Create events_lookup table
print("=" * 80)
print("STEP 2: CREATE EVENTS LOOKUP TABLE")
print("=" * 80)
print()

# Verify events file is loaded
if 'events' not in locals():
    print("⚠ ERROR: 'events' variable not found. Please run the previous cell first.")
    raise NameError("'events' variable not found")

# Verify required columns exist
if 'Perf Code' not in events.columns:
    print("⚠ ERROR: 'Perf Code' column not found in events file")
    print(f"Available columns: {events.columns.tolist()}")
    raise KeyError("'Perf Code' column not found")

if 'Date' not in events.columns:
    print("⚠ ERROR: 'Date' column not found in events file")
    print(f"Available columns: {events.columns.tolist()}")
    raise KeyError("'Date' column not found")

print("✓ Required columns verified")
print()

# Check for additional columns to include
additional_cols = ['Weekend', 'Series', 'Name', 'Type']
available_additional = [col for col in additional_cols if col in events.columns]
print(f"Additional columns to include: {available_additional}")
print()

# Create events_lookup: Extract Perf Code, Date, and additional columns
print("Creating events_lookup table...")
print("  Using 'Perf Code' column for event codes")
print("  Using 'Date' column for event dates")
if available_additional:
    print(f"  Including additional columns: {available_additional}")
print()

# Select columns to include
cols_to_include = ['Perf Code', 'Date'] + available_additional
events_lookup = events[cols_to_include].copy()

# Rename Perf Code to event_name to match ticket data
events_lookup = events_lookup.rename(columns={'Perf Code': 'event_name'})
# Rename Date to event_date
events_lookup = events_lookup.rename(columns={'Date': 'event_date'})
# Keep other column names as-is (Weekend, Series, Name, Type)

print(f"  Initial rows: {len(events_lookup):,}")
print(f"  Columns: {events_lookup.columns.tolist()}")
print()

# Filter out rows where event_name (Perf Code) is NaN
print("Filtering out rows with NaN event_name...")
before_filter = len(events_lookup)
events_lookup = events_lookup[events_lookup['event_name'].notna()].copy()
after_filter = len(events_lookup)
print(f"  Removed {before_filter - after_filter} rows with NaN event_name")
print(f"  Remaining rows: {after_filter:,}")
print()

# Convert event_date to datetime
print("Converting event_date to datetime...")
events_lookup['event_date'] = pd.to_datetime(events_lookup['event_date'], errors='coerce')
print(f"  Converted dates")
print()

# Remove rows where event_date is still NaN after conversion
print("Filtering out rows with NaN event_date...")
before_date_filter = len(events_lookup)
events_lookup = events_lookup[events_lookup['event_date'].notna()].copy()
after_date_filter = len(events_lookup)
print(f"  Removed {before_date_filter - after_date_filter} rows with NaN event_date")
print(f"  Remaining rows: {after_date_filter:,}")
print()

# Remove duplicates, keeping first occurrence
print("Removing duplicate event_names (keeping first occurrence)...")
before_dedup = len(events_lookup)
events_lookup = events_lookup.drop_duplicates(subset=['event_name'], keep='first')
after_dedup = len(events_lookup)
print(f"  Removed {before_dedup - after_dedup} duplicate event_names")
print(f"  Final unique events: {after_dedup:,}")
print()

# Display summary
print("=" * 80)
print("EVENTS_LOOKUP SUMMARY")
print("=" * 80)
print(f"  Total unique events: {len(events_lookup):,}")
print(f"  Date range: {events_lookup['event_date'].min()} to {events_lookup['event_date'].max()}")
print(f"  Columns: {events_lookup.columns.tolist()}")
print()
print("Sample events_lookup:")
print(events_lookup.head(10))
print()

# Verify structure
print("Verification:")
print(f"  ✓ events_lookup has 'event_name' column: {'event_name' in events_lookup.columns}")
print(f"  ✓ events_lookup has 'event_date' column: {'event_date' in events_lookup.columns}")
if 'Weekend' in events_lookup.columns:
    print(f"  ✓ events_lookup has 'Weekend' column: True")
if 'Series' in events_lookup.columns:
    print(f"  ✓ events_lookup has 'Series' column: True")
if 'Name' in events_lookup.columns:
    print(f"  ✓ events_lookup has 'Name' column: True")
if 'Type' in events_lookup.columns:
    print(f"  ✓ events_lookup has 'Type' column: True")
print(f"  ✓ No NaN event_names: {events_lookup['event_name'].isna().sum() == 0}")
print(f"  ✓ No NaN event_dates: {events_lookup['event_date'].isna().sum() == 0}")
print(f"  ✓ No duplicate event_names: {events_lookup['event_name'].duplicated().sum() == 0}")
print()
print("✓ events_lookup table created successfully!")

================================================================================
STEP 2: CREATE EVENTS LOOKUP TABLE
================================================================================

✓ Required columns verified

Additional columns to include: ['Weekend', 'Series', 'Name', 'Type']

Creating events_lookup table...
  Using 'Perf Code' column for event codes
  Using 'Date' column for event dates
  Including additional columns: ['Weekend', 'Series', 'Name', 'Type']

  Initial rows: 123
  Columns: ['event_name', 'event_date', 'Weekend', 'Series', 'Name', 'Type']

Filtering out rows with NaN event_name...
  Removed 0 rows with NaN event_name
  Remaining rows: 123

Converting event_date to datetime...
  Converted dates

Filtering out rows with NaN event_date...
  Removed 2 rows with NaN event_date
  Remaining rows: 121

Removing duplicate event_names (keeping first occurrence)...
  Removed 0 duplicate event_names
  Final unique events: 121

================================================================================
EVENTS_LOOKUP SUMMARY
================================================================================
  Total unique events: 121
  Date range: 2022-09-22 00:00:00 to 2024-06-16 00:00:00
  Columns: ['event_name', 'event_date', 'Weekend', 'Series', 'Name', 'Type']

Sample events_lookup:
   event_name event_date Weekend  Series                     Name       Type
2    230922SE 2022-09-22     CS1       1          Opening Weekend  Classical
3    230924SE 2022-09-24     CS1       1          Opening Weekend  Classical
4    231006SE 2022-10-06     CS2       2  Beethoven Symphony No 9  Classical
5    231008SE 2022-10-08     CS2       2  Beethoven Symphony No 9  Classical
6    231009S3 2022-10-09     CS2  Sunday  Beethoven Symphony No 9  Classical
7    231014SE 2022-10-14     CS3       3           Lush Romantics  Classical
8    231015SE 2022-10-15     CS3       3           Lush Romantics  Classical
9    231110SE 2022-11-10     CS4       4               Gil Shaham  Classical
10   231112SE 2022-11-12     CS4       4               Gil Shaham  Classical
11   231117SE 2022-11-17     CS5       1            Inon Barnatan  Classical

Verification:
  ✓ events_lookup has 'event_name' column: True
  ✓ events_lookup has 'event_date' column: True
  ✓ events_lookup has 'Weekend' column: True
  ✓ events_lookup has 'Series' column: True
  ✓ events_lookup has 'Name' column: True
  ✓ events_lookup has 'Type' column: True
  ✓ No NaN event_names: True
  ✓ No NaN event_dates: True
  ✓ No duplicate event_names: True

✓ events_lookup table created successfully!

### Step 3: Verify Event Matching

Before merging, let's check how many ticket event names will match the events_lookup table.

In [35]:
# STEP 3: Verify event matching before merge
print("=" * 80)
print("STEP 3: VERIFY EVENT MATCHING")
print("=" * 80)
print()

# Verify both dataframes exist
if 'master_tickets' not in locals():
    print("⚠ ERROR: 'master_tickets' not found. Please run ticket loading cells first.")
    raise NameError("'master_tickets' not found")

if 'events_lookup' not in locals():
    print("⚠ ERROR: 'events_lookup' not found. Please run the previous cell first.")
    raise NameError("'events_lookup' not found")

# Normalize event names (convert to strings and strip whitespace) for comparison
ticket_events_set = set(str(e).strip() for e in master_tickets['event_name'].unique())
lookup_events_set = set(str(e).strip() for e in events_lookup['event_name'].unique())

# Check matching
matching_events = ticket_events_set.intersection(lookup_events_set)
missing_events = ticket_events_set - lookup_events_set

print(f"Ticket event analysis:")
print(f"  Unique event names in tickets: {len(ticket_events_set)}")
print(f"  Sample ticket events: {sorted(list(ticket_events_set))[:10]}")
print()

print(f"Events lookup analysis:")
print(f"  Unique event names in events_lookup: {len(lookup_events_set)}")
print(f"  Sample lookup events: {sorted(list(lookup_events_set))[:10]}")
print()

print(f"Matching results:")
print(f"  ✓ Matching events: {len(matching_events)}")
match_pct = (len(matching_events) / len(ticket_events_set) * 100) if len(ticket_events_set) > 0 else 0
print(f"  Match rate: {match_pct:.1f}%")
print(f"  ⚠ Missing from events file: {len(missing_events)}")
print()

if len(matching_events) > 0:
    print(f"  Sample matched events: {sorted(list(matching_events))[:10]}")
    print()

if len(missing_events) > 0:
    print(f"  ⚠ Events in tickets but NOT in events file:")
    if len(missing_events) <= 20:
        print(f"    {sorted(list(missing_events))}")
    else:
        print(f"    First 20: {sorted(list(missing_events))[:20]}")
        print(f"    (Total missing: {len(missing_events)})")
    print()

# Check if events_lookup has the right structure
print("events_lookup structure check:")
print(f"  Columns: {events_lookup.columns.tolist()}")
print(f"  Has 'event_name': {'event_name' in events_lookup.columns}")
print(f"  Has 'event_date': {'event_date' in events_lookup.columns}")
print()

if len(matching_events) == 0:
    print("⚠ WARNING: No matching events found!")
    print("  This means the merge will result in all NULL event_date values.")
    print("  Please check the sample outputs above for differences")
else:
    print(f"✓ Ready to merge! {len(matching_events)} events will be matched.")

================================================================================
STEP 3: VERIFY EVENT MATCHING
================================================================================

Ticket event analysis:
  Unique event names in tickets: 121
  Sample ticket events: ['230104SE', '230112SE', '230115S3', '230119SE', '230121SE', '230126SE', '230128SE', '230202SE', '230203SE', '230209SE']

Events lookup analysis:
  Unique event names in events_lookup: 121
  Sample lookup events: ['230104SE', '230112SE', '230115S3', '230119SE', '230121SE', '230126SE', '230128SE', '230202SE', '230203SE', '230209SE']

Matching results:
  ✓ Matching events: 120
  Match rate: 99.2%
  ⚠ Missing from events file: 1

  Sample matched events: ['230104SE', '230112SE', '230115S3', '230119SE', '230121SE', '230126SE', '230128SE', '230202SE', '230203SE', '230209SE']

  ⚠ Events in tickets but NOT in events file:
    ['231218SE']

events_lookup structure check:
  Columns: ['event_name', 'event_date', 'Weekend', 'Series', 'Name', 'Type']
  Has 'event_name': True
  Has 'event_date': True

✓ Ready to merge! 120 events will be matched.

### Step 4: Merge Event Dates

Now we'll merge the event dates into master_tickets by matching `event_name` (from tickets) with `event_name` (from events_lookup, which came from "Perf Code").

In [36]:
# STEP 4: Merge event dates into master_tickets
print("=" * 80)
print("STEP 4: MERGE EVENT DATES")
print("=" * 80)
print()

# Verify prerequisites
if 'master_tickets' not in locals():
    print("⚠ ERROR: 'master_tickets' not found. Please run ticket loading cells first.")
    raise NameError("'master_tickets' not found")

if 'events_lookup' not in locals():
    print("⚠ ERROR: 'events_lookup' not found. Please run previous cells first.")
    raise NameError("'events_lookup' not found")

# Verify events_lookup structure
if 'event_name' not in events_lookup.columns:
    print("⚠ ERROR: events_lookup missing 'event_name' column")
    print(f"  Available columns: {events_lookup.columns.tolist()}")
    raise KeyError("'event_name' column not found in events_lookup")

if 'event_date' not in events_lookup.columns:
    print("⚠ ERROR: events_lookup missing 'event_date' column")
    print(f"  Available columns: {events_lookup.columns.tolist()}")
    raise KeyError("'event_date' column not found in events_lookup")

print("✓ Prerequisites verified")
print(f"  master_tickets: {len(master_tickets):,} records")
print(f"  events_lookup: {len(events_lookup):,} records")
print(f"  events_lookup columns: {events_lookup.columns.tolist()}")
print()

# Normalize event names before merging (strip whitespace and ensure string type)
print("Normalizing event names before merge...")
master_tickets['event_name'] = master_tickets['event_name'].astype(str).str.strip()
events_lookup['event_name'] = events_lookup['event_name'].astype(str).str.strip()
print("  ✓ Stripped whitespace and converted to strings")
print()

# Check matching after normalization
unique_ticket_events = set(master_tickets['event_name'].unique())
unique_events_lookup = set(events_lookup['event_name'].unique())
matching_events = unique_ticket_events.intersection(unique_events_lookup)

print(f"Pre-merge check:")
print(f"  Unique ticket events: {len(unique_ticket_events)}")
print(f"  Unique lookup events: {len(unique_events_lookup)}")
print(f"  Events that will match: {len(matching_events)}")
if len(matching_events) > 0:
    print(f"  Sample matches: {sorted(list(matching_events))[:5]}")
print()

# Perform merge
print("Merging event dates and additional event info...")
print(f"  Merging on column: 'event_name'")
print(f"  Merge type: left join (keep all tickets)")
additional_cols = [col for col in events_lookup.columns if col not in ['event_name', 'event_date']]
if additional_cols:
    print(f"  Additional columns to merge: {additional_cols}")
print()

master_tickets = master_tickets.merge(
    events_lookup,
    on='event_name',
    how='left'
)

print(f"✓ Merge completed")
print(f"  Records after merge: {len(master_tickets):,}")
print(f"  New columns added: {len(events_lookup.columns) - 1} (event_name used for merge)")  # -1 because event_name is the merge key
print()

# Check merge results
matched_count = master_tickets['event_date'].notna().sum()
matched_pct = (matched_count / len(master_tickets) * 100) if len(master_tickets) > 0 else 0
unmatched_count = master_tickets['event_date'].isna().sum()

print("=" * 80)
print("MERGE RESULTS")
print("=" * 80)
print(f"  Tickets with event_date: {matched_count:,} ({matched_pct:.1f}%)")
print(f"  Tickets without event_date: {unmatched_count:,} ({100-matched_pct:.1f}%)")
print()

# Show coverage of additional columns if they exist
if additional_cols:
    print("Additional event info coverage:")
    for col in additional_cols:
        if col in master_tickets.columns:
            non_null = master_tickets[col].notna().sum()
            pct = (non_null / len(master_tickets) * 100) if len(master_tickets) > 0 else 0
            print(f"  {col}: {non_null:,} tickets ({pct:.1f}%)")
    print()

if matched_count == 0:
    print("⚠ WARNING: No matches found! All event_date values are NULL.")
    print("  This suggests:")
    print("    1. Event names still don't match after normalization")
    print("    2. Please check the verification step above")
    print("    3. Check if events_lookup was created correctly")
else:
    print(f"✓ Successfully matched {matched_count:,} tickets with event dates")
    print()

# Calculate days_before_event for matched tickets
print("Calculating days_before_event...")

# Ensure add_datetime is datetime
if 'add_datetime' in master_tickets.columns:
    master_tickets['add_datetime'] = pd.to_datetime(master_tickets['add_datetime'], errors='coerce')
    print("  ✓ Converted add_datetime to datetime")
else:
    print("  ⚠ WARNING: 'add_datetime' column not found")

# Calculate days_before_event: (event_date - add_datetime)
master_tickets['days_before_event'] = (
    master_tickets['event_date'] - master_tickets['add_datetime']
).dt.days

valid_days = master_tickets['days_before_event'].dropna()
print(f"  Calculated days_before_event for {len(valid_days):,} tickets")
print()

if len(valid_days) > 0:
    print("days_before_event statistics:")
    print(f"  Mean: {valid_days.mean():.1f} days")
    print(f"  Median: {valid_days.median():.1f} days")
    print(f"  Min: {valid_days.min():.0f} days")
    print(f"  Max: {valid_days.max():.0f} days")
    print()
    
    # Show breakdown
    print("Purchase timing breakdown:")
    early = (valid_days >= 30).sum()
    moderate = ((valid_days >= 7) & (valid_days < 30)).sum()
    last_minute = (valid_days < 7).sum()
    print(f"  Early (30+ days): {early:,} tickets")
    print(f"  Moderate (7-29 days): {moderate:,} tickets")
    print(f"  Last minute (<7 days): {last_minute:,} tickets")
else:
    print("  ⚠ No valid days_before_event calculated (all values are NaN)")
    print()

# Show unmatched events (if any)
if unmatched_count > 0:
    print("Unmatched events (tickets without event_date):")
    unmatched_events = master_tickets[master_tickets['event_date'].isna()]['event_name'].value_counts().head(10)
    for event, count in unmatched_events.items():
        print(f"  {event}: {count:,} tickets")
    print()

# Display sample
print("Sample results:")
sample_cols = ['event_name', 'add_datetime', 'event_date', 'days_before_event'] + additional_cols
available_cols = [col for col in sample_cols if col in master_tickets.columns]
master_tickets[available_cols].head(10)

================================================================================
STEP 4: MERGE EVENT DATES
================================================================================

✓ Prerequisites verified
  master_tickets: 67,539 records
  events_lookup: 121 records
  events_lookup columns: ['event_name', 'event_date', 'Weekend', 'Series', 'Name', 'Type']

Normalizing event names before merge...
  ✓ Stripped whitespace and converted to strings

Pre-merge check:
  Unique ticket events: 121
  Unique lookup events: 121
  Events that will match: 120
  Sample matches: ['230104SE', '230112SE', '230115S3', '230119SE', '230121SE']

Merging event dates and additional event info...
  Merging on column: 'event_name'
  Merge type: left join (keep all tickets)
  Additional columns to merge: ['Weekend', 'Series', 'Name', 'Type']

✓ Merge completed
  Records after merge: 67,539
  New columns added: 5 (event_name used for merge)

================================================================================
MERGE RESULTS
================================================================================
  Tickets with event_date: 66,961 (99.1%)
  Tickets without event_date: 578 (0.9%)

Additional event info coverage:
  Weekend: 66,961 tickets (99.1%)
  Series: 66,961 tickets (99.1%)
  Name: 66,961 tickets (99.1%)
  Type: 66,961 tickets (99.1%)

✓ Successfully matched 66,961 tickets with event dates

Calculating days_before_event...
  ✓ Converted add_datetime to datetime
  Calculated days_before_event for 66,961 tickets

days_before_event statistics:
  Mean: 127.3 days
  Median: 64.0 days
  Min: -175 days
  Max: 463 days

Purchase timing breakdown:
  Early (30+ days): 41,273 tickets
  Moderate (7-29 days): 14,023 tickets
  Last minute (<7 days): 11,665 tickets
Unmatched events (tickets without event_date):
  231218SE: 578 tickets

Sample results:

,event_name,add_datetime,event_date,days_before_event,Weekend,Series,Name,Type
0,230922SE,2022-07-15,2022-09-22,69.00,CS1,1,Opening Weekend,Classical
1,230922SE,2022-09-14,2022-09-22,8.00,CS1,1,Opening Weekend,Classical
2,230922SE,2022-07-27,2022-09-22,57.00,CS1,1,Opening Weekend,Classical
3,230922SE,2022-04-05,2022-09-22,170.00,CS1,1,Opening Weekend,Classical
4,230922SE,2022-09-20,2022-09-22,2.00,CS1,1,Opening Weekend,Classical
5,230922SE,2022-08-30,2022-09-22,23.00,CS1,1,Opening Weekend,Classical
6,230922SE,2022-04-08,2022-09-22,167.00,CS1,1,Opening Weekend,Classical
7,230922SE,2022-04-22,2022-09-22,153.00,CS1,1,Opening Weekend,Classical
8,230922SE,2022-09-16,2022-09-22,6.00,CS1,1,Opening Weekend,Classical
9,230922SE,2022-09-07,2022-09-22,15.00,CS1,1,Opening Weekend,Classical

## Create Derived Variables

In [37]:
#create derived variables for month, month_name and season_period
master_tickets['month'] = master_tickets['add_datetime'].dt.month
master_tickets['month_name'] = master_tickets['add_datetime'].dt.month_name()

# Define season periods
#  * season_period = categorize by month:
#     - "Opening" for September-October
#     - "Mid-Season" for November-February  
#     - "Peak" for March-May
#     - "Finale" for June
def assign_season_period(month):
    if month in [9, 10]:
        return 'Opening'
    elif month in [11, 12, 1, 2]:
        return 'Mid-Season'
    elif month in [3, 4, 5]:
        return 'Peak'
    elif month == 6:
        return 'Finale'
    else:
        return 'Off-Season'
    

master_tickets['season_period'] = master_tickets['month'].apply(assign_season_period)
print("Derived variables created: month, month_name, season_period")
print("Sample of derived variables:")
master_tickets[['add_datetime', 'month', 'month_name', 'season_period']].head(10)

Derived variables created: month, month_name, season_period
Sample of derived variables:

  add_datetime  month month_name season_period
0   2022-07-15      7       July    Off-Season
1   2022-09-14      9  September       Opening
2   2022-07-27      7       July    Off-Season
3   2022-04-05      4      April          Peak
4   2022-09-20      9  September       Opening
5   2022-08-30      8     August    Off-Season
6   2022-04-08      4      April          Peak
7   2022-04-22      4      April          Peak
8   2022-09-16      9  September       Opening
9   2022-09-07      9  September       Opening

## 5. Load College Pass Data

In [38]:
# Load college pass tickets
print("Loading college pass tickets...")
college_pass_tickets = pd.read_csv('College Pass Concert Tickets.csv')
college_pass_tickets['fiscal_year'] = 'College Pass'
college_pass_tickets['is_college_pass'] = True
print(f"College pass tickets loaded: {len(college_pass_tickets):,} records")
print(f"Columns: {college_pass_tickets.columns.tolist()}")
print()

# Display sample
print("Sample of college pass tickets:")
college_pass_tickets.head(10)

Loading college pass tickets...
College pass tickets loaded: 5,995 records
Columns: ['event_name', 'section_name', 'row_name', 'seat_num', 'last_seat', 'num_seats', 'acct_id', 'zip', 'add_datetime', 'price_code', 'comp', 'comp_name', 'purchase_price', 'paid_amount', 'source', 'fiscal_year', 'is_college_pass']

Sample of college pass tickets:

,event_name,section_name,row_name,seat_num,last_seat,num_seats,acct_id,zip,add_datetime,price_code,comp,comp_name,purchase_price,paid_amount,source,fiscal_year,is_college_pass
0,240420C1,GA1,G01,11,13,3,9176172,30084,3/31/2024,A0B,N,Not Comp,10,30,online,College Pass,True
1,240419BT,GA2,G08,29,29,1,8943006,30363,4/16/2024,A0E,N,Not Comp,0,0,online,College Pass,True
2,240419BT,GA2,G08,40,40,1,9617850,30083,4/16/2024,A0E,N,Not Comp,0,0,online,College Pass,True
3,240419BT,GA2,G08,44,44,1,8942894,20176,4/16/2024,A0E,N,Not Comp,0,0,online,College Pass,True
4,240419BT,GA2,G09,11,11,1,9747444,30075,4/16/2024,A0E,N,Not Comp,0,0,online,College Pass,True
5,240419BT,GA2,G09,35,35,1,8630517,30032,4/16/2024,A0E,N,Not Comp,0,0,online,College Pass,True
6,240419BT,GA2,G09,40,40,1,8784081,30309,4/16/2024,A0E,N,Not Comp,0,0,online,College Pass,True
7,240419BT,GA2,G09,41,41,1,8991929,19341,4/16/2024,A0E,N,Not Comp,0,0,online,College Pass,True
8,240419BT,GA2,G10,9,9,1,9531691,30306,4/16/2024,A0E,N,Not Comp,0,0,online,College Pass,True
9,240419BT,GA2,G10,24,24,1,9594082,30032,4/16/2024,A0E,N,Not Comp,0,0,online,College Pass,True

In [39]:
# Load college pass demographics
print("Loading college pass demographics...")
college_pass_demo = pd.read_csv('College Pass Demographics.csv')
print(f"College pass demographics loaded: {len(college_pass_demo):,} records")
print(f"Unique acct_ids: {college_pass_demo['acct_id'].nunique():,}")
print(f"Attribute names: {college_pass_demo['attrib_name'].unique()}")
print()

# Reshape college pass demographics same way as above
college_pass_demo_wide = college_pass_demo.pivot_table(
    index='acct_id',
    columns='attrib_name',
    values='attrib_value',
    aggfunc='first'
).reset_index()

college_pass_demo_wide.columns.name = None

# Rename columns to match
column_mapping = {
    '1st Ind - Age 2 yr Inc': 'age',
    '1st Ind - Gender': 'gender',
    'HH Marital Status': 'marital_status',
    'Input Ind - Education': 'education'
}
college_pass_demo_wide = college_pass_demo_wide.rename(columns=column_mapping)

print(f"College pass demographics pivoted: {len(college_pass_demo_wide):,} unique acct_ids")
print()

# Merge college pass tickets with demographics
college_pass_tickets = college_pass_tickets.merge(
    college_pass_demo_wide,
    on='acct_id',
    how='left'
)

print(f"College pass tickets merged with demographics: {len(college_pass_tickets):,} records")
print()

# Merge event dates for college pass tickets
if 'event_name' in college_pass_tickets.columns:
    college_pass_tickets = college_pass_tickets.merge(
        events_lookup,
        on='event_name',
        how='left'
    )
    
    # Convert add_datetime and calculate days_before_event
    college_pass_tickets['add_datetime'] = pd.to_datetime(college_pass_tickets['add_datetime'], errors='coerce')
    college_pass_tickets['days_before_event'] = (
        college_pass_tickets['event_date'] - college_pass_tickets['add_datetime']
    ).dt.days
    
    print("College pass tickets merged with event dates")

# Ensure regular tickets have is_college_pass flag
if 'is_college_pass' not in master_tickets.columns:
    master_tickets['is_college_pass'] = False

print("\nCollege pass data prepared")
print(f"College pass tickets: {len(college_pass_tickets):,} records")
print(f"Regular tickets: {len(master_tickets):,} records")

Loading college pass demographics...
College pass demographics loaded: 2,727 records
Unique acct_ids: 745
Attribute names: ['1st Ind - Age 2 yr Inc' '1st Ind - Gender' 'HH Marital Status'
 'Input Ind - Education']

College pass demographics pivoted: 745 unique acct_ids

College pass tickets merged with demographics: 5,995 records

College pass tickets merged with event dates

College pass data prepared
College pass tickets: 5,995 records
Regular tickets: 67,539 records

In [40]:
# Combine college pass tickets with master_tickets
print("=" * 80)
print("COMBINING COLLEGE PASS TICKETS WITH MASTER TICKETS")
print("=" * 80)
print()

# Verify both dataframes exist
if 'master_tickets' not in locals():
    print("⚠ ERROR: 'master_tickets' not found. Please run previous cells first.")
    raise NameError("'master_tickets' not found")

if 'college_pass_tickets' not in locals():
    print("⚠ ERROR: 'college_pass_tickets' not found. Please run previous cells first.")
    raise NameError("'college_pass_tickets' not found")

print(f"Before combining:")
print(f"  Regular tickets: {len(master_tickets):,} records")
print(f"  College pass tickets: {len(college_pass_tickets):,} records")
print()

# Ensure both dataframes have compatible columns before combining
# Get all unique columns from both dataframes
all_cols = set(master_tickets.columns) | set(college_pass_tickets.columns)

print(f"Total unique columns: {len(all_cols)}")
print(f"  Columns only in master_tickets: {set(master_tickets.columns) - set(college_pass_tickets.columns)}")
print(f"  Columns only in college_pass_tickets: {set(college_pass_tickets.columns) - set(master_tickets.columns)}")
print()

# Add missing columns to each dataframe with appropriate defaults
for col in all_cols:
    if col not in master_tickets.columns:
        # Add missing column to master_tickets with default value
        master_tickets[col] = None
    if col not in college_pass_tickets.columns:
        # Add missing column to college_pass_tickets with default value
        college_pass_tickets[col] = None

# Ensure column order matches
col_order = list(master_tickets.columns)
college_pass_tickets = college_pass_tickets[col_order]

# Combine the dataframes
print("Combining dataframes...")
master_tickets = pd.concat([master_tickets, college_pass_tickets], ignore_index=True)

print(f"✓ Combined successfully!")
print(f"  Total tickets: {len(master_tickets):,} records")
print(f"  Regular tickets (is_college_pass=False): {(master_tickets['is_college_pass'] == False).sum():,}")
print(f"  College pass tickets (is_college_pass=True): {(master_tickets['is_college_pass'] == True).sum():,}")
print(f"  Unique patrons: {master_tickets['acct_id'].nunique():,}")
print()

# Verify the combination
regular_count = (master_tickets['is_college_pass'] == False).sum()
college_pass_count = (master_tickets['is_college_pass'] == True).sum()
print(f"Verification:")
print(f"  Regular tickets: {regular_count:,} ({regular_count/len(master_tickets)*100:.1f}%)")
print(f"  College pass tickets: {college_pass_count:,} ({college_pass_count/len(master_tickets)*100:.1f}%)")
print(f"  Total matches expected: {len(master_tickets):,}")

================================================================================
COMBINING COLLEGE PASS TICKETS WITH MASTER TICKETS
================================================================================

Before combining:
  Regular tickets: 67,539 records
  College pass tickets: 5,995 records

Total unique columns: 33
  Columns only in master_tickets: {'month', 'price_code_type', 'ticket_type', 'month_name', 'price_section', 'season_period'}
  Columns only in college_pass_tickets: set()

Combining dataframes...
✓ Combined successfully!
  Total tickets: 73,534 records
  Regular tickets (is_college_pass=False): 67,539
  College pass tickets (is_college_pass=True): 5,995
  Unique patrons: 25,683

Verification:
  Regular tickets: 67,539 (91.8%)
  College pass tickets: 5,995 (8.2%)
  Total matches expected: 73,534

In [41]:
# Prepare final dataset for saving
print("Preparing master dataset for saving...")

# Select and order columns logically
column_order = [
    # Identifiers
    'fiscal_year',
    'acct_id',
    'is_college_pass',
    # Event info
    'event_name',
    'event_date',
    'add_datetime',
    'days_before_event',
    # Seating
    'section_name',
    'row_name',
    'seat_num',
    'last_seat',
    'num_seats',
    # Pricing
    'price_code',
    'price_code_type',
    'price_section',
    'purchase_price',
    'paid_amount',
    'comp',
    'comp_name',
    'source',
    'ticket_type',
    # Demographics
    'age',
    'gender',
    'marital_status',
    'education',
    # Location
    'zip'
]

# Add any additional columns that exist
existing_cols = [col for col in column_order if col in master_tickets.columns]
other_cols = [col for col in master_tickets.columns if col not in column_order]
final_cols = existing_cols + other_cols

master_tickets_clean = master_tickets[final_cols].copy()

print(f"Master dataset prepared: {len(master_tickets_clean):,} records, {len(master_tickets_clean.columns)} columns")
print(f"Columns: {master_tickets_clean.columns.tolist()}")
print()

# Display summary
print("Summary:")
print(master_tickets_clean.info())
print()

# Save to CSV
output_file = 'master_tickets.csv'
print(f"Saving to {output_file}...")
master_tickets_clean.to_csv(output_file, index=False)
print(f"✓ Saved successfully!")
print(f"  File: {output_file}")
print(f"  Records: {len(master_tickets_clean):,}")
print(f"  Columns: {len(master_tickets_clean.columns)}")

Preparing master dataset for saving...
Master dataset prepared: 73,534 records, 33 columns
Columns: ['fiscal_year', 'acct_id', 'is_college_pass', 'event_name', 'event_date', 'add_datetime', 'days_before_event', 'section_name', 'row_name', 'seat_num', 'last_seat', 'num_seats', 'price_code', 'price_code_type', 'price_section', 'purchase_price', 'paid_amount', 'comp', 'comp_name', 'source', 'ticket_type', 'age', 'gender', 'marital_status', 'education', 'zip', 'Weekend', 'Series', 'Name', 'Type', 'month', 'month_name', 'season_period']

Summary:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73534 entries, 0 to 73533
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   fiscal_year        73534 non-null  object
 1   acct_id            73534 non-null  int64
 2   is_college_pass    73534 non-null  bool
 3   event_name         73534 non-null  object
 4   event_date         72879 non-null  datetime64[ns]
 5   add_datetime       73534 non-null  datetime64[ns]
 6   days_before_event  72879 non-null  float64
 7   section_name       73534 non-null  object
 8   row_name           73534 non-null  object
 9   seat_num           73534 non-null  int64
 10  last_seat          73534 non-null  int64
 11  num_seats          73534 non-null  int64
 12  price_code         73534 non-null  object
 13  price_code_type    67539 non-null  object
 14  price_section      67539 non-null  object
 15  purchase_price     73534 non-null  float64
 16  paid_amount        73534 non-null  float64
 17  comp               73534 non-null  object
 18  comp_name          73534 non-null  object
 19  source             73534 non-null  object
 20  ticket_type        67539 non-null  object
 21  age                63613 non-null  object
 22  gender             65967 non-null  object
 23  marital_status     65280 non-null  object
 24  education          56021 non-null  object
 25  zip                69258 non-null  object
 26  Weekend            72879 non-null  object
 27  Series             72879 non-null  object
 28  Name               72879 non-null  object
 29  Type               72879 non-null  object
 30  month              67539 non-null  object
 31  month_name         67539 non-null  object
 32  season_period      67539 non-null  object
dtypes: bool(1), datetime64[ns](2), float64(3), int64(4), object(23)
memory usage: 18.0+ MB
None

Saving to master_tickets.csv...
✓ Saved successfully!
  File: master_tickets.csv
  Records: 73,534
  Columns: 33

## 8. Create Summary Files

Create aggregated summary files for patron-level and event-level analysis.

### Create patron_summary.csv

Aggregate ticket data to create patron-level metrics (one row per acct_id).

In [42]:
# Create patron_summary.csv
print("=" * 80)
print("CREATING PATRON SUMMARY")
print("=" * 80)
print()

# Verify master_tickets exists
if 'master_tickets' not in locals():
    print("⚠ ERROR: 'master_tickets' not found. Please run previous cells first.")
    raise NameError("'master_tickets' not found")

print(f"Creating patron-level summary from {len(master_tickets):,} ticket records...")
print(f"Available columns: {master_tickets.columns.tolist()}")
print()

# Build aggregation dictionary dynamically based on available columns
agg_dict = {
    # Demographics (take first non-null value)
    'age': 'first',
    'gender': 'first',
    'marital_status': 'first',
    'education': 'first',
    'zip': 'first',
    
    # Ticket counts
    'event_name': ['count', lambda x: x.nunique()],  # Total tickets and unique events
    'ticket_type': lambda x: x.value_counts().to_dict(),  # Ticket type distribution
    
    # Financial metrics
    'paid_amount': ['sum', 'mean', 'median', 'min', 'max'],  # Total spent, average, etc.
    'purchase_price': ['sum', 'mean'],
    
    # Ticket characteristics
    'num_seats': 'sum',  # Total seats purchased
    'source': lambda x: x.value_counts().to_dict(),  # Source distribution
    
    # Purchase timing
    'days_before_event': ['mean', 'median', 'min', 'max'],  # Purchase timing
    
    # Date ranges
    'add_datetime': ['min', 'max'],  # First and last purchase dates
}

# Only include fiscal_year if it exists
if 'fiscal_year' in master_tickets.columns:
    agg_dict['fiscal_year'] = lambda x: ', '.join(sorted(set(x.astype(str)))),  # Fiscal years active
    print("✓ Found 'fiscal_year' column - will include in summary")
else:
    print("⚠ 'fiscal_year' column not found - will skip")
print()

# Only include is_college_pass if it exists
if 'is_college_pass' in master_tickets.columns:
    # Use 'any' instead of 'first' to check if patron has ANY college pass tickets
    agg_dict['is_college_pass'] = lambda x: x.any()  # True if ANY ticket is college pass
    print("✓ Found 'is_college_pass' column - will include in summary")
    print("  Using 'any' aggregation: patron marked as college pass if they have ANY college pass tickets")
else:
    print("⚠ 'is_college_pass' column not found - will skip")
print()

# Group by acct_id and calculate patron-level metrics
patron_summary = master_tickets.groupby('acct_id').agg(agg_dict).reset_index()

# Flatten column names
patron_summary.columns = ['_'.join(col).strip('_') if col[1] else col[0] for col in patron_summary.columns.values]

# Rename key columns for clarity
column_renames = {
    'event_name_count': 'total_tickets',
    'paid_amount_sum': 'total_spent',
    'paid_amount_mean': 'avg_ticket_price',
    'paid_amount_median': 'median_ticket_price',
    'paid_amount_min': 'min_ticket_price',
    'paid_amount_max': 'max_ticket_price',
    'purchase_price_sum': 'total_purchase_price',
    'purchase_price_mean': 'avg_purchase_price',
    'num_seats_sum': 'total_seats',
    'days_before_event_mean': 'avg_days_before_event',
    'days_before_event_median': 'median_days_before_event',
    'days_before_event_min': 'min_days_before_event',
    'days_before_event_max': 'max_days_before_event',
    'add_datetime_min': 'first_purchase_date',
    'add_datetime_max': 'last_purchase_date'
}

# Handle numbered lambda functions (pandas numbers them when multiple lambdas exist)
# Check for numbered lambda columns dynamically
import re

# Pattern to match numbered lambda columns: column_name_<lambda_0>, column_name_<lambda_1>, etc.
lambda_patterns = {
    'source': 'source_distribution',
    'ticket_type': 'ticket_type_distribution',
    'event_name': 'unique_events',
    'is_college_pass': 'is_college_pass',
    'fiscal_year': 'fiscal_year'
}

for col_name, new_name in lambda_patterns.items():
    # Check for numbered lambda columns (e.g., source_<lambda_0>, source_<lambda_1>, etc.)
    for col in patron_summary.columns:
        if re.match(f'^{col_name}_<lambda_\\d+>$', col):
            column_renames[col] = new_name
            break
    else:
        # Fallback to non-numbered lambda if numbered version doesn't exist
        fallback_col = f'{col_name}_<lambda>'
        if fallback_col in patron_summary.columns:
            column_renames[fallback_col] = new_name

patron_summary = patron_summary.rename(columns=column_renames)


# Handle is_college_pass if it exists
if 'is_college_pass' in patron_summary.columns:
    patron_summary['is_college_pass'] = patron_summary['is_college_pass'].astype(bool)
else:
    # Create it if it doesn't exist (default to False)
    patron_summary['is_college_pass'] = False

# Calculate fiscal year flags only if fiscal_year exists
if 'fiscal_year' in patron_summary.columns:
    patron_summary['active_fy23'] = patron_summary['fiscal_year'].str.contains('FY23', na=False)
    patron_summary['active_fy24'] = patron_summary['fiscal_year'].str.contains('FY24', na=False)
    patron_summary['active_both_years'] = patron_summary['active_fy23'] & patron_summary['active_fy24']
else:
    # Create fiscal_year column if it doesn't exist (default to empty string)
    patron_summary['fiscal_year'] = ''
    patron_summary['active_fy23'] = False
    patron_summary['active_fy24'] = False
    patron_summary['active_both_years'] = False

# Reorder columns logically
column_order = [
    'acct_id',
    'age',
    'gender',
    'marital_status',
    'education',
    'zip',
    'is_college_pass',
    'total_tickets',
    'total_seats',
    'unique_events',
    'total_spent',
    'avg_ticket_price',
    'median_ticket_price',
    'min_ticket_price',
    'max_ticket_price',
    'total_purchase_price',
    'avg_purchase_price',

    'fiscal_year',
    'active_fy23',
    'active_fy24',
    'active_both_years',
    'first_purchase_date',
    'last_purchase_date',
    'avg_days_before_event',
    'median_days_before_event',
    'min_days_before_event',
    'max_days_before_event',
    'ticket_type_distribution',
    'source_distribution'
]

# Keep only columns that exist
existing_cols = [col for col in column_order if col in patron_summary.columns]
other_cols = [col for col in patron_summary.columns if col not in column_order]
patron_summary_final = patron_summary[existing_cols + other_cols].copy()

print(f"Patron summary created: {len(patron_summary_final):,} unique patrons")
print(f"Columns: {len(patron_summary_final.columns)}")
print()
print("Sample patron summary:")
print(patron_summary_final.head(10))
print()

# Save to CSV
output_file = 'patron_summary.csv'
print(f"Saving to {output_file}...")
patron_summary_final.to_csv(output_file, index=False)
print(f"✓ Saved successfully!")
print(f"  File: {output_file}")
print(f"  Records: {len(patron_summary_final):,} patrons")
print(f"  Columns: {len(patron_summary_final.columns)}")
print()

# Display summary statistics
print("Patron summary statistics:")
print(f"  Total patrons: {len(patron_summary_final):,}")
print(f"  Average tickets per patron: {patron_summary_final['total_tickets'].mean():.1f}")
print(f"  Average total spent per patron: ${patron_summary_final['total_spent'].mean():.2f}")
if 'fiscal_year' in patron_summary_final.columns and patron_summary_final['fiscal_year'].str.len().sum() > 0:
    print(f"  Patrons active in both FY23 and FY24: {patron_summary_final['active_both_years'].sum():,}")
if 'is_college_pass' in patron_summary_final.columns:
    print(f"  College pass patrons: {patron_summary_final['is_college_pass'].sum():,}")

================================================================================
CREATING PATRON SUMMARY
================================================================================

Creating patron-level summary from 73,534 ticket records...
Available columns: ['event_name', 'section_name', 'row_name', 'seat_num', 'last_seat', 'num_seats', 'acct_id', 'zip', 'add_datetime', 'price_code', 'price_code_type', 'price_section', 'comp', 'comp_name', 'purchase_price', 'paid_amount', 'source', 'ticket_type', 'fiscal_year', 'age', 'gender', 'marital_status', 'education', 'event_date', 'Weekend', 'Series', 'Name', 'Type', 'days_before_event', 'month', 'month_name', 'season_period', 'is_college_pass']

✓ Found 'fiscal_year' column - will include in summary

✓ Found 'is_college_pass' column - will include in summary
  Using 'any' aggregation: patron marked as college pass if they have ANY college pass tickets

Patron summary created: 25,683 unique patrons
Columns: 29

Sample patron summary:
   acct_id  is_college_pass  total_tickets  total_seats  unique_events  \
0        0            False              3            5              3
1   100103            False             13           13             13
2   100378            False             28           36             27
3   100521            False              8            8              8
4   100532            False             10           12              6
5   100653            False              9           18              8
6   100851            False              5            5              5
7   100928            False              9           18              9
8   101016            False              5            8              4
9   101126            False             37           74             36

   total_spent  avg_ticket_price  median_ticket_price  min_ticket_price  \
0       367.00            122.33               103.00             72.00
1       502.50             38.65                35.50             34.00
2      3590.00            128.21               109.00             65.00
3       309.00             38.62                38.62             37.75
4       294.00             29.40                23.00             23.00
5      1360.00            151.11               118.00             41.00
6       531.00            106.20               103.00             91.00
7      1880.00            208.89               218.00            142.00
8       184.00             36.80                46.00             23.00
9      6952.50            187.91               188.00             92.50

   max_ticket_price  total_purchase_price  avg_purchase_price fiscal_year  \
0            192.00                239.00               79.67  FY23, FY24
1             61.00                502.50               38.65  FY23, FY24
2            226.00               2856.00              102.00  FY23, FY24
3             39.50                309.00               38.62  FY23, FY24
4             46.00                248.00               24.80        FY23
5            356.00                632.00               70.22  FY23, FY24
6            124.00                531.00              106.20  FY23, FY24
7            318.00                940.00              104.44        FY24
8             46.00                115.00               23.00        FY23
9            197.00               3476.25               93.95  FY23, FY24

   active_fy23  active_fy24  active_both_years first_purchase_date  \
0         True         True               True          2022-09-21
1         True         True               True          2022-04-19
2         True         True               True          2022-03-22
3         True         True               True          2022-04-04
4         True        False              False          2022-03-26
5         True         True               True          2022-08-30
6         True         True               True          2022-12-01
7        False         True              False          2023-04-12
8         True        False              False          2022-05-16
9         True         True               True          2022-05-27

  last_purchase_date  avg_days_before_event  median_days_before_event  \
0         2023-10-11                  24.67                     13.00
1         2024-04-25                 257.31                    275.00
2         2024-05-28                 184.18                    198.00
3         2023-03-21                 331.00                    352.00
4         2023-03-02                 223.20                    224.00
5         2024-06-05                  20.50                     11.50
6         2023-11-16                   0.60                      0.00
7         2024-02-28                 249.22                    247.00
8         2022-05-16                 218.80                    180.00
9         2024-05-28                 188.19                    181.00

   min_days_before_event  max_days_before_event  \
0                   1.00                  60.00
1                   0.00                 427.00
2                   0.00                 455.00
3                 188.00                 453.00
4                 105.00                 369.00
5                   2.00                  48.00
6                   0.00                   2.00
7                  71.00                 428.00
8                 131.00                 348.00
9                   0.00                 398.00

                   ticket_type_distribution            source_distribution  \
0                      {'Single Ticket': 3}                  {'online': 3}
1  {'Subscription': 12, 'Single Ticket': 1}      {'online': 7, 'onlin': 6}
2  {'Subscription': 20, 'Single Ticket': 8}              {'ASO Staff': 28}
3                       {'Subscription': 8}               {'ASO Staff': 8}
4                      {'Subscription': 10}  {'online': 6, 'ASO Staff': 4}
5                      {'Single Ticket': 9}  {'online': 8, 'ASO Staff': 1}
6                      {'Single Ticket': 5}               {'ASO Staff': 5}
7   {'Subscription': 6, 'Single Ticket': 3}               {'ASO Staff': 9}
8                       {'Subscription': 5}               {'ASO Staff': 5}
9  {'Subscription': 36, 'Single Ticket': 1}              {'ASO Staff': 37}

  age_first gender_first marital_status_first  education_first   zip_first
0      None         None                 None             None        None
1        36         Male              Married  Graduate School  30341-1729
2        82       Female              Married  Graduate School  30309-3564
3        78       Female               Single  Graduate School  30324-2972
4        74         Male              Married             None  30341-4317
5        78         Male              Married          College  30309-3586
6        92         Male               Single  Graduate School       30319
7        74         Male              Married             None       30345
8        62       Female              Married      High School       30306
9        74         Male              Married          College  30031-1122

Saving to patron_summary.csv...
✓ Saved successfully!
  File: patron_summary.csv
  Records: 25,683 patrons
  Columns: 29

Patron summary statistics:
  Total patrons: 25,683
  Average tickets per patron: 2.9
  Average total spent per patron: $280.59
  Patrons active in both FY23 and FY24: 3,853
  College pass patrons: 1,317

### Create event_summary.csv

Aggregate ticket data to create event-level metrics (one row per event_name).

In [43]:
# Create event_summary.csv
print("=" * 80)
print("CREATING EVENT SUMMARY")
print("=" * 80)
print()

# Verify master_tickets exists
if 'master_tickets' not in locals():
    print("⚠ ERROR: 'master_tickets' not found. Please run previous cells first.")
    raise NameError("'master_tickets' not found")

print(f"Creating event-level summary from {len(master_tickets):,} ticket records...")
print(f"Available columns: {master_tickets.columns.tolist()}")
print()

# Build aggregation dictionary dynamically based on available columns
agg_dict = {
    # Event info (take first value)
    'event_date': 'first',
    'fiscal_year': 'first',
    
    # Ticket counts
    'acct_id': ['count', lambda x: x.nunique()],  # Total tickets sold and unique patrons
    
    # Financial metrics
    'paid_amount': ['sum', 'mean', 'median', 'min', 'max'],
    'purchase_price': ['sum', 'mean'],
    
    # Ticket characteristics
    'num_seats': 'sum',  # Total seats sold
    'comp': lambda x: (x == 'Y').sum(),  # Comp tickets
    'source': lambda x: x.value_counts().to_dict(),  # Source distribution
    'ticket_type': lambda x: x.value_counts().to_dict(),  # Ticket type distribution
    
    # Purchase timing
    'days_before_event': ['mean', 'median', 'min', 'max'],
    'add_datetime': ['min', 'max'],  # First and last purchase dates
    
    # Seating sections
    'section_name': lambda x: x.value_counts().to_dict(),  # Section distribution
    
    # Price codes
    'price_code': lambda x: x.value_counts().to_dict(),  # Price code distribution
    'price_code_type': lambda x: x.value_counts().to_dict(),  # Price code type distribution
}

# Only include event detail columns if they exist
event_detail_cols = ['Weekend', 'Series', 'Name', 'Type']
for col in event_detail_cols:
    if col in master_tickets.columns:
        agg_dict[col] = 'first'
        print(f"✓ Found '{col}' column - will include in summary")
    else:
        print(f"⚠ '{col}' column not found - will skip")
print()

# Group by event_name and calculate event-level metrics
event_summary = master_tickets.groupby('event_name').agg(agg_dict).reset_index()

# Flatten column names
event_summary.columns = ['_'.join(col).strip('_') if col[1] else col[0] for col in event_summary.columns.values]

# Rename key columns for clarity
column_renames = {
    'acct_id_count': 'total_tickets_sold',
    'paid_amount_sum': 'total_revenue',
    'paid_amount_mean': 'avg_ticket_price',
    'paid_amount_median': 'median_ticket_price',
    'paid_amount_min': 'min_ticket_price',
    'paid_amount_max': 'max_ticket_price',
    'purchase_price_sum': 'total_purchase_price',
    'purchase_price_mean': 'avg_purchase_price',
    'num_seats_sum': 'total_seats_sold',
    'days_before_event_mean': 'avg_days_before_event',
    'days_before_event_median': 'median_days_before_event',
    'days_before_event_min': 'min_days_before_event',
    'days_before_event_max': 'max_days_before_event',
    'add_datetime_min': 'first_sale_date',
    'add_datetime_max': 'last_sale_date'
}

# Handle numbered lambda functions (pandas numbers them when multiple lambdas exist)
# Check for numbered lambda columns dynamically
import re

# Pattern to match numbered lambda columns: column_name_<lambda_0>, column_name_<lambda_1>, etc.
lambda_patterns = {
    'acct_id': 'unique_patrons',
    'comp': 'comp_tickets',
    'source': 'source_distribution',
    'ticket_type': 'ticket_type_distribution',
    'section_name': 'section_distribution',
    'price_code': 'price_code_distribution',
    'price_code_type': 'price_code_type_distribution'
}

for col_name, new_name in lambda_patterns.items():
    # Check for numbered lambda columns (e.g., source_<lambda_0>, source_<lambda_1>, etc.)
    for col in event_summary.columns:
        if re.match(f'^{col_name}_<lambda_\\d+>$', col):
            column_renames[col] = new_name
            break
    else:
        # Fallback to non-numbered lambda if numbered version doesn't exist
        fallback_col = f'{col_name}_<lambda>'
        if fallback_col in event_summary.columns:
            column_renames[fallback_col] = new_name

event_summary = event_summary.rename(columns=column_renames)

# Calculate additional metrics
event_summary['comp_ticket_pct'] = (event_summary['comp_tickets'] / event_summary['total_tickets_sold'] * 100).round(2)
event_summary['tickets_per_patron'] = (event_summary['total_tickets_sold'] / event_summary['unique_patrons']).round(2)
event_summary['revenue_per_patron'] = (event_summary['total_revenue'] / event_summary['unique_patrons']).round(2)

# Calculate fill rate: (seats sold / capacity) * 100
# ASO maximum capacity is 1762 SEATS per event (not tickets)
CAPACITY = 1762
event_summary['fill_rate'] = (event_summary['total_seats_sold'] / CAPACITY * 100).round(2)

# Reorder columns logically
column_order = [
    'event_name',
    'event_date',
    'Name',
    'Type',
    'Weekend',
    'Series',
    'fiscal_year',
    'total_tickets_sold',
    'total_seats_sold',
    'unique_patrons',
    'tickets_per_patron',
    'total_revenue',
    'revenue_per_patron',
    'avg_ticket_price',
    'median_ticket_price',
    'min_ticket_price',
    'max_ticket_price',
    'total_purchase_price',
    'avg_purchase_price',
    'comp_tickets',
    'comp_ticket_pct',
    'first_sale_date',
    'last_sale_date',
    'avg_days_before_event',
    'median_days_before_event',
    'min_days_before_event',
    'max_days_before_event',
    'ticket_type_distribution',
    'source_distribution',
    'section_distribution',
    'price_code_distribution',
    'price_code_type_distribution'
]

# Keep only columns that exist
existing_cols = [col for col in column_order if col in event_summary.columns]
other_cols = [col for col in event_summary.columns if col not in column_order]
event_summary_final = event_summary[existing_cols + other_cols].copy()

print(f"Event summary created: {len(event_summary_final):,} unique events")
print(f"Columns: {len(event_summary_final.columns)}")
print()
print("Sample event summary:")
print(event_summary_final.head(10))
print()

# Save to CSV
output_file = 'event_summary.csv'
print(f"Saving to {output_file}...")
event_summary_final.to_csv(output_file, index=False)
print(f"✓ Saved successfully!")
print(f"  File: {output_file}")
print(f"  Records: {len(event_summary_final):,} events")
print(f"  Columns: {len(event_summary_final.columns)}")
print()

# Display summary statistics
print("Event summary statistics:")
print(f"  Total events: {len(event_summary_final):,}")
print(f"  Average tickets per event: {event_summary_final['total_tickets_sold'].mean():.1f}")
print(f"  Average revenue per event: ${event_summary_final['total_revenue'].mean():.2f}")
print(f"  Average patrons per event: {event_summary_final['unique_patrons'].mean():.1f}")
if 'event_date' in event_summary_final.columns:
    events_with_dates = event_summary_final['event_date'].notna().sum()
    print(f"  Events with dates: {events_with_dates:,} ({events_with_dates/len(event_summary_final)*100:.1f}%)")

================================================================================
CREATING EVENT SUMMARY
================================================================================

Creating event-level summary from 73,534 ticket records...
Available columns: ['event_name', 'section_name', 'row_name', 'seat_num', 'last_seat', 'num_seats', 'acct_id', 'zip', 'add_datetime', 'price_code', 'price_code_type', 'price_section', 'comp', 'comp_name', 'purchase_price', 'paid_amount', 'source', 'ticket_type', 'fiscal_year', 'age', 'gender', 'marital_status', 'education', 'event_date', 'Weekend', 'Series', 'Name', 'Type', 'days_before_event', 'month', 'month_name', 'season_period', 'is_college_pass']

✓ Found 'Weekend' column - will include in summary
✓ Found 'Series' column - will include in summary
✓ Found 'Name' column - will include in summary
✓ Found 'Type' column - will include in summary

Event summary created: 124 unique events
Columns: 33

Sample event summary:
  event_name  total_tickets_sold  total_seats_sold  unique_patrons  \
0   230104SE                 794              1690             763
1   230112SE                 403               662             377
2   230115S3                 443               828             414
3   230119SE                 524               927             492
4   230121SE                 688              1238             630
5   230126SE                 615              1057             569
6   230128SE                 801              1453             748
7   230202SE                 684              1138             645
8   230203SE                 665              1259             614
9   230209SE                 500               836             468

   tickets_per_patron  total_revenue  revenue_per_patron  avg_ticket_price  \
0                1.04       90872.00              119.10            114.45
1                1.07       31258.65               82.91             77.56
2                1.07       40629.45               98.14             91.71
3                1.07       44692.40               90.84             85.29
4                1.09       55929.65               88.78             81.29
5                1.08       51776.80               91.00             84.19
6                1.07       66924.56               89.47             83.55
7                1.06       51713.90               80.18             75.61
8                1.08       61637.95              100.39             92.69
9                1.07       36873.75               78.79             73.75

   median_ticket_price  min_ticket_price  max_ticket_price  \
0               110.00             20.00            450.00
1                66.00              0.00            576.00
2                82.00              0.00            648.00
3                68.00              0.00            510.00
4                68.00              0.00            561.00
5                70.00              0.00            612.00
6                70.00              0.00            444.00
7                66.00              0.00            510.00
8                82.00              0.00            618.00
9                66.00              0.00            500.00

   total_purchase_price  avg_purchase_price  comp_tickets  comp_ticket_pct  \
0              42979.00               54.13             0             0.00
1              17620.70               43.72             0             0.00
2              19950.85               45.04             0             0.00
3              23947.20               45.70             0             0.00
4              29772.20               43.27             0             0.00
5              29572.95               48.09             0             0.00
6              35238.58               43.99             0             0.00
7              29021.20               42.43             0             0.00
8              32614.85               49.04             0             0.00
9              19901.50               39.80             0             0.00

  first_sale_date last_sale_date  avg_days_before_event  \
0      2022-03-18     2023-01-04                  93.95
1      2022-03-18     2023-01-12                 105.80
2      2022-03-25     2023-01-15                  66.66
3      2022-03-18     2023-01-19                 133.69
4      2022-03-23     2023-01-21                 103.04
5      2022-03-02     2023-01-26                 128.83
6      2022-03-21     2023-01-28                  78.19
7      2022-03-02     2023-02-02                 121.30
8      2022-03-23     2023-02-03                  96.49
9      2022-03-18     2023-02-09                 110.14

   median_days_before_event  min_days_before_event  max_days_before_event  \
0                     44.00                   0.00                 292.00
1                     32.00                   0.00                 300.00
2                     18.00                   0.00                 296.00
3                    105.50                   0.00                 307.00
4                     40.00                   0.00                 304.00
5                     82.00                   0.00                 330.00
6                     19.00                   0.00                 313.00
7                     42.00                   0.00                 337.00
8                     31.00                   0.00                 317.00
9                     30.00                   0.00                 328.00

                      ticket_type_distribution  \
0                       {'Single Ticket': 794}
1  {'Subscription': 215, 'Single Ticket': 137}
2  {'Single Ticket': 212, 'Subscription': 150}
3  {'Subscription': 333, 'Single Ticket': 137}
4  {'Subscription': 365, 'Single Ticket': 253}
5  {'Subscription': 356, 'Single Ticket': 219}
6  {'Single Ticket': 398, 'Subscription': 314}
7  {'Subscription': 402, 'Single Ticket': 182}
8  {'Subscription': 350, 'Single Ticket': 283}
9  {'Subscription': 255, 'Single Ticket': 144}

                 source_distribution  \
0  {'online': 608, 'ASO Staff': 186}
1  {'online': 275, 'ASO Staff': 128}
2  {'online': 337, 'ASO Staff': 106}
3  {'online': 311, 'ASO Staff': 213}
4  {'online': 504, 'ASO Staff': 184}
5  {'online': 402, 'ASO Staff': 213}
6  {'online': 630, 'ASO Staff': 171}
7  {'online': 455, 'ASO Staff': 229}
8  {'online': 488, 'ASO Staff': 177}
9  {'online': 352, 'ASO Staff': 148}

                                section_distribution  \
0  {'ORCHL': 239, 'ORCHR': 238, 'BALCL': 81, 'BAL...
1  {'ORCHR': 161, 'ORCHL': 155, 'LOGER': 25, 'LOG...
2  {'ORCHR': 200, 'ORCHL': 129, 'LOGER': 33, 'LOG...
3  {'ORCHL': 203, 'ORCHR': 144, 'BALCL': 53, 'LOG...
4  {'ORCHL': 221, 'ORCHR': 221, 'BALCL': 82, 'BAL...
5  {'ORCHL': 222, 'ORCHR': 194, 'BALCR': 46, 'LOG...
6  {'ORCHL': 251, 'ORCHR': 202, 'BALCL': 97, 'BAL...
7  {'ORCHL': 237, 'ORCHR': 225, 'BALCL': 74, 'LOG...
8  {'ORCHL': 225, 'ORCHR': 207, 'LOGEL': 56, 'LOG...
9  {'ORCHR': 207, 'ORCHL': 160, 'LOGEL': 40, 'LOG...

                             price_code_distribution  \
0  {'A*': 125, 'AAO': 90, 'C*': 74, 'D*': 67, 'I*...
1  {'C0E': 32, 'E*': 31, 'C*': 30, 'D*': 17, 'CCO...
2  {'C0E': 57, 'C*': 45, 'E*': 38, 'A*': 27, 'D*'...
3  {'E0E': 35, 'C*': 23, 'J*': 21, 'CE1': 20, 'AC...
4  {'C*': 51, 'J*': 45, 'CE1': 31, 'C0E': 29, 'I*...
5  {'C*': 44, 'J*': 32, 'CE1': 32, 'E0E': 27, 'E*...
6  {'J*': 64, 'C*': 56, 'E*': 49, 'E0E': 37, 'H*'...
7  {'E0E': 70, 'C*': 42, 'CE1': 32, 'J*': 31, 'A3...
8  {'C*': 60, 'E*': 41, 'A33': 33, 'H*': 31, 'D*'...
9  {'C0E': 76, 'C*': 34, 'E*': 19, 'E0E': 19, 'D*...

                        price_code_type_distribution event_date_first  \
0                             {'Single Ticket': 794}       2023-01-04
1  {'Single Ticket': 137, 'Fixed Established Subs...       2023-01-12
2  {'Single Ticket': 212, 'Fixed Established Subs...       2023-01-15
3  {'Single Ticket': 137, 'Fixed Established Subs...       2023-01-19
4  {'Single Ticket': 253, 'Fixed Established Subs...       2023-01-21
5  {'Single Ticket': 219, 'Fixed Established Subs...       2023-01-26
6  {'Single Ticket': 398, 'Fixed Established Subs...       2023-01-28
7  {'Single Ticket': 182, 'Fixed Established Subs...       2023-02-02
8  {'Single Ticket': 283, 'Fixed Established Subs...       2023-02-03
9  {'Single Ticket': 144, 'Fixed Established Subs...       2023-02-09

  fiscal_year_first Weekend_first Series_first                  Name_first  \
0              FY23       Special      Special   Vivaldi: The Four Seasons
1              FY23           CS8            4              Kazem Abdullah
2              FY23           CS8            4              Kazem Abdullah
3              FY23           CS9            3               Jonathan Biss
4              FY23           CS9            3               Jonathan Biss
5              FY23          CS10            2            A German Requiem
6              FY23          CS10            2            A German Requiem
7              FY23          CS11            1  Prokofiev and Shostakovich
8              FY23          CS11            1  Prokofiev and Shostakovich
9              FY23          CS12            4                Han-Na Chang

  Type_first  fill_rate
0    Special      95.91
1  Classical      37.57
2  Classical      46.99
3  Classical      52.61
4  Classical      70.26
5  Classical      59.99
6  Classical      82.46
7  Classical      64.59
8  Classical      71.45
9  Classical      47.45

Saving to event_summary.csv...
✓ Saved successfully!
  File: event_summary.csv
  Records: 124 events
  Columns: 33

Event summary statistics:
  Total events: 124
  Average tickets per event: 593.0
  Average revenue per event: $58115.42
  Average patrons per event: 547.7

## 6. Data Quality Report

In [44]:
print("=" * 80)
print("DATA QUALITY REPORT")
print("=" * 80)
print()

# 1. Total ticket records in FY23 vs FY24
print("1. TICKET RECORDS BY FISCAL YEAR")
print("-" * 80)
fy_counts = master_tickets['fiscal_year'].value_counts().sort_index()
for fy, count in fy_counts.items():
    print(f"  {fy}: {count:,} records")
print(f"  Total: {len(master_tickets):,} records")
print()

# 2. Unique acct_ids in FY23 vs FY24
print("2. UNIQUE ACCOUNT IDs BY FISCAL YEAR")
print("-" * 80)
for fy in ['FY23', 'FY24']:
    fy_data = master_tickets[master_tickets['fiscal_year'] == fy]
    unique_accts = fy_data['acct_id'].nunique()
    total_records = len(fy_data)
    print(f"  {fy}: {unique_accts:,} unique acct_ids (from {total_records:,} records)")
print(f"  Combined: {master_tickets['acct_id'].nunique():,} unique acct_ids")
print()

# 3. Missing values
print("3. MISSING VALUES")
print("-" * 80)
total_records = len(master_tickets)

# acct_id nulls
acct_id_nulls = master_tickets['acct_id'].isna().sum()
acct_id_pct = (acct_id_nulls / total_records) * 100
print(f"  acct_id nulls: {acct_id_nulls:,} ({acct_id_pct:.2f}%)")

# age nulls
age_nulls = master_tickets['age'].isna().sum()
age_pct = (age_nulls / total_records) * 100
print(f"  age nulls: {age_nulls:,} ({age_pct:.2f}%)")

# Calculate % of patrons (unique acct_ids) with age data
unique_accts_with_age = master_tickets[master_tickets['age'].notna()]['acct_id'].nunique()
unique_accts_total = master_tickets['acct_id'].nunique()
patrons_with_age_pct = (unique_accts_with_age / unique_accts_total) * 100 if unique_accts_total > 0 else 0
print(f"  Patrons with age data: {unique_accts_with_age:,} of {unique_accts_total:,} ({patrons_with_age_pct:.2f}%)")

# event_date nulls
event_date_nulls = master_tickets['event_date'].isna().sum()
event_date_pct = (event_date_nulls / total_records) * 100
print(f"  event_date nulls: {event_date_nulls:,} ({event_date_pct:.2f}%)")

# Other demographic fields
print("\n  Other demographic fields:")
demo_fields = ['gender', 'marital_status', 'education']
for field in demo_fields:
    if field in master_tickets.columns:
        nulls = master_tickets[field].isna().sum()
        pct = (nulls / total_records) * 100
        print(f"    {field} nulls: {nulls:,} ({pct:.2f}%)")
print()

# 4. Date range validation
print("4. DATE RANGE VALIDATION")
print("-" * 80)
master_tickets['add_datetime'] = pd.to_datetime(master_tickets['add_datetime'], errors='coerce')

for fy in ['FY23', 'FY24']:
    fy_data = master_tickets[master_tickets['fiscal_year'] == fy]
    min_date = fy_data['add_datetime'].min()
    max_date = fy_data['add_datetime'].max()
    print(f"  {fy}:")
    print(f"    Date range: {min_date} to {max_date}")
    
    # Expected ranges
    if fy == 'FY23':
        expected_start = pd.to_datetime('2022-09-01')
        expected_end = pd.to_datetime('2023-06-30')
        print(f"    Expected: Sept 2022 - June 2023")
    else:
        expected_start = pd.to_datetime('2023-09-01')
        expected_end = pd.to_datetime('2024-06-30')
        print(f"    Expected: Sept 2023 - June 2024")
    
    # Check if dates are within expected range
    if min_date < expected_start or max_date > expected_end:
        print(f"    ⚠ Warning: Some dates outside expected range")
    else:
        print(f"    ✓ Dates within expected range")
print()

# 5. Comp ticket count and % of total
print("5. COMP TICKET ANALYSIS")
print("-" * 80)
if 'comp' in master_tickets.columns:
    comp_counts = master_tickets['comp'].value_counts()
    total_comps = master_tickets['comp'].eq('Y').sum() if 'comp' in master_tickets.columns else 0
    comp_pct = (total_comps / total_records) * 100
    print(f"  Comp tickets: {total_comps:,} ({comp_pct:.2f}%)")
    print(f"  Non-comp tickets: {total_records - total_comps:,} ({100 - comp_pct:.2f}%)")
    print(f"  Distribution:")
    for val, count in comp_counts.items():
        print(f"    {val}: {count:,} ({count/total_records*100:.2f}%)")
else:
    print("  'comp' column not found")
print()

# 6. Price distribution
print("6. PRICE DISTRIBUTION")
print("-" * 80)
if 'paid_amount' in master_tickets.columns:
    paid_amount = master_tickets['paid_amount'].dropna()
    print(f"  Min: ${paid_amount.min():.2f}")
    print(f"  Max: ${paid_amount.max():.2f}")
    print(f"  Mean: ${paid_amount.mean():.2f}")
    print(f"  Median: ${paid_amount.median():.2f}")
    print(f"  Std Dev: ${paid_amount.std():.2f}")
    print(f"\n  Percentiles:")
    for p in [10, 25, 50, 75, 90, 95, 99]:
        val = paid_amount.quantile(p/100)
        print(f"    {p}th: ${val:.2f}")
else:
    print("  'paid_amount' column not found")
print()

# 7. Demographics coverage
print("7. DEMOGRAPHICS COVERAGE")
print("-" * 80)
print("  Available demographic attributes:")
demo_cols = [col for col in master_tickets.columns if col in ['age', 'gender', 'marital_status', 'education']]
for col in demo_cols:
    non_null = master_tickets[col].notna().sum()
    pct = (non_null / total_records) * 100
    unique_vals = master_tickets[col].nunique()
    print(f"    {col}:")
    print(f"      Coverage: {non_null:,} records ({pct:.2f}%)")
    print(f"      Unique values: {unique_vals}")
    if unique_vals <= 20:
        print(f"      Values: {master_tickets[col].value_counts().head(10).to_dict()}")

# Check for other demographic attributes from original pivot
other_demo_cols = [col for col in master_tickets.columns 
                   if col not in ['acct_id', 'fiscal_year', 'is_college_pass'] 
                   and col not in demo_cols
                   and master_tickets[col].dtype == 'object'
                   and master_tickets[col].notna().sum() > 0]

if other_demo_cols:
    print("\n  Other demographic-like attributes found:")
    for col in other_demo_cols[:10]:  # Limit to first 10
        non_null = master_tickets[col].notna().sum()
        pct = (non_null / total_records) * 100
        print(f"    {col}: {non_null:,} records ({pct:.2f}%)")

print()
print("=" * 80)

================================================================================
DATA QUALITY REPORT
================================================================================

1. TICKET RECORDS BY FISCAL YEAR
--------------------------------------------------------------------------------
  College Pass: 5,995 records
  FY23: 32,405 records
  FY24: 35,134 records
  Total: 73,534 records

2. UNIQUE ACCOUNT IDs BY FISCAL YEAR
--------------------------------------------------------------------------------

  FY23: 13,093 unique acct_ids (from 32,405 records)
  FY24: 15,363 unique acct_ids (from 35,134 records)
  Combined: 25,683 unique acct_ids

3. MISSING VALUES
--------------------------------------------------------------------------------
  acct_id nulls: 0 (0.00%)
  age nulls: 9,921 (13.49%)
  Patrons with age data: 21,312 of 25,683 (82.98%)
  event_date nulls: 655 (0.89%)

  Other demographic fields:
    gender nulls: 7,567 (10.29%)
    marital_status nulls: 8,254 (11.22%)
    education nulls: 17,513 (23.82%)

4. DATE RANGE VALIDATION
--------------------------------------------------------------------------------
  FY23:
    Date range: 2022-03-02 00:00:00 to 2023-06-18 00:00:00
    Expected: Sept 2022 - June 2023
    ⚠ Warning: Some dates outside expected range
  FY24:
    Date range: 2023-03-13 00:00:00 to 2024-06-16 00:00:00
    Expected: Sept 2023 - June 2024
    ⚠ Warning: Some dates outside expected range

5. COMP TICKET ANALYSIS
--------------------------------------------------------------------------------
  Comp tickets: 0 (0.00%)
  Non-comp tickets: 73,534 (100.00%)
  Distribution:
    N: 73,534 (100.00%)

6. PRICE DISTRIBUTION
--------------------------------------------------------------------------------
  Min: $0.00
  Max: $1615.00
  Mean: $98.00
  Median: $82.00
  Std Dev: $78.32

  Percentiles:
    10th: $22.00
    25th: $46.00
    50th: $82.00
    75th: $129.00
    90th: $204.00
    95th: $228.00
    99th: $357.00

7. DEMOGRAPHICS COVERAGE
--------------------------------------------------------------------------------
  Available demographic attributes:
    age:
      Coverage: 63,613 records (86.51%)
      Unique values: 42
    gender:
      Coverage: 65,967 records (89.71%)
      Unique values: 3
      Values: {'Male': 46511, 'Female': 17925, 'Unknown': 1531}
    marital_status:
      Coverage: 65,280 records (88.78%)
      Unique values: 4
      Values: {'Married': 35196, 'Single': 27213, 'Inferred Single': 2603, 'Inferred Married': 268}
    education:
      Coverage: 56,021 records (76.18%)
      Unique values: 4
      Values: {'High School': 22851, 'Graduate School': 18578, 'College': 14570, 'Vocational/Technical': 22}

  Other demographic-like attributes found:
    event_name: 73,534 records (100.00%)
    section_name: 73,534 records (100.00%)
    row_name: 73,534 records (100.00%)
    zip: 69,258 records (94.19%)
    price_code: 73,534 records (100.00%)
    price_code_type: 67,539 records (91.85%)
    price_section: 67,539 records (91.85%)
    comp: 73,534 records (100.00%)
    comp_name: 73,534 records (100.00%)
    source: 73,534 records (100.00%)

================================================================================

## Summary

This notebook has completed the following tasks:

1. ✅ Loaded FY23 and FY24 ticket data
2. ✅ Loaded and reshaped demographics from long to wide format
3. ✅ Merged tickets with demographics
4. ✅ Loaded event dates and calculated days_before_event
5. ✅ Loaded college pass data
6. ✅ Generated comprehensive data quality report
7. ✅ Saved cleaned master dataset as `master_tickets.csv`
8. ✅ Created patron-level summary as `patron_summary.csv`
9. ✅ Created event-level summary as `event_summary.csv`