In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('master_tickets.csv')
df

,fiscal_year,acct_id,is_college_pass,event_name,event_date,add_datetime,days_before_event,section_name,row_name,seat_num,...,paid_amount,comp,comp_name,source,ticket_type,age,gender,marital_status,education,zip
0,FY23,8362049,False,230922SE,NaN,2022-07-15,NaN,BALCL,A,4,...,68.0,N,Not Comp,online,Subscription,58.0,Male,Single,NaN,30041
1,FY23,8449640,False,230922SE,NaN,2022-09-14,NaN,BALCL,B,1,...,46.0,N,Not Comp,ASO Staff,Subscription,80.0,Male,Married,Graduate School,30316
2,FY23,4061365,False,230922SE,NaN,2022-07-27,NaN,BALCL,B,4,...,68.0,N,Not Comp,online,Subscription,58.0,Female,Single,College,30308
3,FY23,354115,False,230922SE,NaN,2022-04-05,NaN,BALCL,C,1,...,60.0,N,Not Comp,ASO Staff,Subscription,72.0,Male,Married,College,30087
4,FY23,8908470,False,230922SE,NaN,2022-09-20,NaN,BALCL,C,3,...,60.0,N,Not Comp,online,Single Ticket,24.0,Male,Inferred Single,High School,30253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67534,FY24,9485385,False,241102SE,NaN,2023-10-09,NaN,ORCHR,A,1,...,117.0,N,Not Comp,online,Single Ticket,28.0,Female,Married,High School,30068
67535,FY24,1542995,False,240225SM,NaN,2024-02-20,NaN,DRESSL,J,10,...,53.0,N,Not Comp,online,Single Ticket,76.0,Female,Single,Graduate School,30030
67536,FY24,9411149,False,241021SE,NaN,2023-10-16,NaN,ORCHR,Y,11,...,35.2,N,Not Comp,online,Single Ticket,48.0,Male,Married,Graduate School,30075
67537,FY24,9850691,False,240613SE,NaN,2024-05-28,NaN,LOGER,H,12,...,246.4,N,Not Comp,online,Single Ticket,34.0,Female,Single,NaN,34104
67538,FY24,9685933,False,240215SE,NaN,2023-12-18,NaN,ORCHL,B,1,...,66.0,N,Not Comp,online,Single Ticket,NaN,NaN,NaN,NaN,10317